{% extends "base.html" %}

{% block contenido %}
  <h1 class="text-center">Da de alta un nuevo libro</h1>

<div class="d-flex justify-content-center">
  {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
  {% endif %}
  {% include "base_formulario.html" %}
  {% block contenido_formulario %}
    <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="mb-2">
        {{ form.libro.label_tag  }}
        {{ form.libro }}
        </div>
    <div class="mb-2">
      {{ form.sello.label_tag  }}
        {{ form.sello }}
        </div>
      <button type="submit" class="btn btn-primary">Crear Libro</button>
    </div>
  </form>
  {% endblock %}
</div>
{% endblock %}
