{% extends "base.html" %}

{% block contenido %}
  <h1 class="text-center">Actualiza la Imagen del Libro: {{ libro.titulo }}</h1>

<!-- TODO: Checar si se puede ajustar base_formulario para incluir el contenedor flex dentro de este archivo -->
<div class="d-flex justify-content-center">
  {% if form.errors %}
    <div class="alert alert-danger">
      {{ form.errors }}
    </div>
  {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <div class="mb-1">
        {{ form.portada.label_tag  }}
        {{ form.portada }}
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Libro</button>
    </div>
  </form>
</div>
{% endblock %}
