{% extends 'base.html' %}
{% block contenido %}
<div class="text-center">
        <h1>Página Principal de la Biblioteca</h1>
        <p>Bienvenido a la aplicación web de la biblioteca, desarrollada por Emilio<br></p>
        <p>Se encuentran los siguientes registros en la base de datos:</p>
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>Libros: {{ num_libros }}</li>
            <li>Copias: {{ num_instancias }}</li>
            <li>Copias disponibles: {{ num_instancias_disponibles }}</li>
            <li>Autores: {{ num_autores }}</li>
        </ul>
    </div>
{% endblock %}