{% extends "base.html" %}

{% block contenido %}
    <h1>Libros en préstamo para el usuario {{ user.username }}</h1>

    {% if libros %}
    <ul>

      {% for instancia in libros %}
      <li class="{% if instancia.esta_atrasado %}text-danger{% endif %}">
        <a href="{% url 'detalle-libro' instancia.libro.pk %}">{{ instancia.libro.titulo }}</a> ({{ instancia.fecha_entrega }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No has pedido prestado ningún libro.</p>
    {% endif %}
{% endblock %}
